/* line 2, ../sass/catalog.scss */
section.catalog {
  position: relative;
  text-align: center;
  padding: 147px 135px 0 135px;
}
/* line 6, ../sass/catalog.scss */
section.catalog .list {
  margin-top: 15px;
}

/* line 14, ../sass/catalog.scss */
.items-catalog ul {
  font-size: 0;
  margin: 0 -20px;
}
/* line 17, ../sass/catalog.scss */
.items-catalog ul li {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 23, ../sass/catalog.scss */
.items-catalog ul li.size-20 {
  width: 20%;
}
/* line 26, ../sass/catalog.scss */
.items-catalog ul li.size-40 {
  width: 40%;
}
/* line 29, ../sass/catalog.scss */
.items-catalog ul li .inner {
  padding: 0 20px 20px 20px;
}
/* line 31, ../sass/catalog.scss */
.items-catalog ul li .inner img {
  width: 100%;
}
/* line 34, ../sass/catalog.scss */
.items-catalog ul li .inner a.title {
  display: inline-block;
  width: 100%;
  font-family: FuturaPT-Book;
  font-size: 15px;
  color: #7C7C7C;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
}
/* line 44, ../sass/catalog.scss */
.items-catalog ul li .inner span.price {
  display: inline-block;
  width: 100%;
  font-family: FuturaPT-Medium;
  font-size: 15px;
  color: #202020;
  line-height: 20px;
  text-align: center;
  margin-top: 5px;
}

/* line 61, ../sass/catalog.scss */
.footer-catalog {
  height: 45px;
  line-height: 45px;
  padding-top: 81px;
}
/* line 65, ../sass/catalog.scss */
.footer-catalog .little-text {
  float: left;
  margin-top: 15px;
}
/* line 69, ../sass/catalog.scss */
.footer-catalog .btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 75, ../sass/catalog.scss */
.footer-catalog .pagination {
  float: right;
  margin-top: -7px;
}
