/* line 2, ../sass/main_catalog.scss */
section.main_catalog {
  position: relative;
  text-align: center;
  padding: 147px 135px 0 135px;
}
/* line 9, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul {
  font-size: 0;
}
/* line 11, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 15, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner {
  text-align: left;
  padding: 0 10px;
}
/* line 18, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner .middle-text {
  margin-top: 45px;
  margin-left: 8px;
}
/* line 22, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner h2 {
  font-family: FuturaPT-Medium;
  font-size: 45px;
  color: #202020;
  line-height: 45px;
  text-align: left;
  margin-top: 6px;
  margin-left: 4px;
}
/* line 31, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner p {
  margin-top: 19px;
  margin-left: 5px;
  padding-right: 50px;
}
/* line 36, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner img {
  width: 100%;
}
/* line 40, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner a.view-all {
  font-family: FuturaPT-Book;
  font-size: 19px;
  color: #BC8420;
  line-height: 40px;
  text-align: center;
  border-bottom: solid 2px #BC8420;
  display: inline-block;
  margin-top: 23px;
  margin-left: 4px;
  line-height: 26px;
}
/* line 52, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner a.title {
  display: inline-block;
  width: 100%;
  font-family: FuturaPT-Book;
  font-size: 15px;
  color: #7C7C7C;
  line-height: 20px;
  text-align: center;
  border-bottom: 0;
  margin-top: 9px;
}
/* line 64, ../sass/main_catalog.scss */
section.main_catalog .wrap-arrivals .arrivals ul li .inner span.price {
  display: inline-block;
  width: 100%;
  font-family: FuturaPT-Medium;
  font-size: 15px;
  color: #202020;
  line-height: 20px;
  text-align: center;
  margin-top: 3px;
}
/* line 82, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks {
  padding-top: 72px;
}
/* line 85, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul {
  font-size: 0;
  margin: 0 -17.5px;
}
/* line 88, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li {
  display: inline-block;
  vertical-align: top;
}
/* line 91, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li .inner {
  margin: 0 17.5px;
  padding: 72px 60px;
  border: solid 1px #E8E8E8;
}
/* line 96, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.size-40 {
  width: 40%;
}
/* line 99, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.size-60 {
  width: 60%;
}
/* line 102, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block {
  text-align: left;
}
/* line 104, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block .links {
  width: 45%;
  text-align: left;
  margin-top: 22px;
  margin-left: 20px;
}
/* line 110, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block .links ul li {
  display: inline-block;
  width: 50%;
}
/* line 113, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block .links ul li a {
  font-family: FuturaPT-Medium;
  font-size: 19px;
  color: #BC8420;
  line-height: 36px;
  text-align: left;
  border: 0;
  margin-top: 0px;
}
/* line 125, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block .middle-text {
  font-family: FuturaPT-Medium;
  font-size: 17px;
  color: #BC8420;
  line-height: 38px;
  text-align: left;
}
/* line 132, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block h2 {
  font-family: FuturaPT-Medium;
  font-size: 45px;
  color: #202020;
  line-height: 45px;
  text-align: left;
  margin-top: -4px;
  padding-right: 15px;
  width: 130px;
}
/* line 142, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block p {
  width: 220px;
  margin-top: 20px;
}
/* line 146, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block a {
  font-family: FuturaPT-Book;
  font-size: 19px;
  color: #BC8420;
  line-height: 40px;
  text-align: left;
  border-bottom: solid 2px #BC8420;
  display: inline-block;
  margin-top: 21px;
  line-height: 27px;
}
/* line 159, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block-dark .middle-text {
  color: #BC8420;
}
/* line 162, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block-dark .inner {
  padding: 72px 60px 107px 60px;
}
/* line 165, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block-dark h2 {
  color: #BC8420;
  margin-top: 6px;
  padding-right: 15px;
}
/* line 170, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block-dark p {
  color: #BC8420;
  margin-top: 20px;
}
/* line 174, ../sass/main_catalog.scss */
section.main_catalog .wrap-blocks .blocks ul li.block-dark a {
  display: inline-block;
  margin-top: 21px;
  line-height: 27px;
}
/* line 187, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel {
  margin: 72px -20px 0 -20px;
}
/* line 190, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel .slick-next,
section.main_catalog .wrap-carousel .carousel .slick-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80px;
  margin: auto 0;
  width: 60px;
  height: 60px;
  background: url(./carousel-arrows.png) 0 0 no-repeat;
  background-size: cover;
  border: 0;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}
/* line 206, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel .slick-next {
  left: inherit;
  right: -80px;
  background: url(./carousel-arrows.png) -60px 0 no-repeat;
  background-size: cover;
}
/* line 212, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel .middle-text {
  text-align: center;
}
/* line 215, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel h2 {
  font-family: FuturaPT-Medium;
  font-size: 45px;
  color: #202020;
  line-height: 58px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 224, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel ul li {
  margin: 0 20px;
}
/* line 226, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel ul li:focus {
  outline: 0;
}
/* line 230, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel ul li .inner img {
  width: 100%;
}
/* line 233, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel ul li .inner a.title {
  display: inline-block;
  width: 100%;
  font-family: FuturaPT-Book;
  font-size: 15px;
  color: #7C7C7C;
  line-height: 20px;
  text-align: center;
  margin: 10px 0;
}
/* line 243, ../sass/main_catalog.scss */
section.main_catalog .wrap-carousel .carousel ul li .inner span.price {
  font-family: FuturaPT-Medium;
  font-size: 15px;
  color: #202020;
  line-height: 20px;
  text-align: center;
}
/* line 258, ../sass/main_catalog.scss */
section.main_catalog .wrap-adv {
  margin-top: 66px;
}
/* line 260, ../sass/main_catalog.scss */
section.main_catalog .wrap-adv .adv {
  padding: 109px 0px;
}
/* line 262, ../sass/main_catalog.scss */
section.main_catalog .wrap-adv .adv .middle-text {
  font-family: FuturaPT-Medium;
  font-size: 17px;
  color: #BC8420;
  line-height: 38px;
  text-align: center;
}
/* line 269, ../sass/main_catalog.scss */
section.main_catalog .wrap-adv .adv h1 {
  font-family: FuturaPT-Medium;
  font-size: 126px;
  color: #BC8420;
  line-height: 109px;
  text-align: center;
}
/* line 276, ../sass/main_catalog.scss */
section.main_catalog .wrap-adv .adv p {
  font-family: FuturaPT-Book;
  font-size: 19px;
  color: #BC8420;
  line-height: 25px;
  text-align: center;
  margin-top: 21px;
}
/* line 289, ../sass/main_catalog.scss */
section.main_catalog .items-catalog {
  padding: 109px 0 0 0;
}
/* line 291, ../sass/main_catalog.scss */
section.main_catalog .items-catalog ul {
  margin: 0;
}
/* line 294, ../sass/main_catalog.scss */
section.main_catalog .items-catalog .main {
  text-align: left;
  border: solid 1px #E8E8E8;
  padding: 60px;
}
/* line 298, ../sass/main_catalog.scss */
section.main_catalog .items-catalog .main h2 {
  margin-top: 20px;
}
/* line 301, ../sass/main_catalog.scss */
section.main_catalog .items-catalog .main a.title {
  text-align: left;
  margin-top: 10px;
}
/* line 305, ../sass/main_catalog.scss */
section.main_catalog .items-catalog .main span.price {
  text-align: left;
}
/* line 309, ../sass/main_catalog.scss */
section.main_catalog .items-catalog h2 {
  font-family: FuturaPT-Medium;
  font-size: 24px;
  color: #202020;
  line-height: 31px;
  text-align: left;
}
