// _catalog.scss

// Catalog
section.catalog{
  position: relative;
  text-align: center;
  padding: 145px 135px 81px;
  background-color: #fff;
  .list{
    margin-top: 15px;
  }
  h2{
    margin-top: 2px;
  }
}
// end Catalog

// Items Catalog
.items-catalog{
  ul{
    font-size: 0;
    margin: 0 -20px;
    overflow-x: hidden;
    li{
      display: inline-block;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      opacity: 1;
      @include transition(opacity 0.2s ease-in-out);
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      &.hide {
        opacity: 0;
      }
      &.sizer{
        width: 25%;
      }
      &.size-20{
        width: 25%;
      }
      &.size-40,
      &.size-60{
        width: 50%;
        .inner {
          text-align: left;
          border: solid 1px #e8e8e8;
          padding-bottom: 59px;
          margin-bottom: 45px;
          .info{
            min-height: 124px;
            @media screen and (min-width: 1020px) {
              min-height: 110px;
            }
            @media screen and (min-width: 1080px) {
              min-height: 112px;
            }
            @media screen and (min-width: 1140px) {
              min-height: 114px;
            }
            @media screen and (min-width: 1200px) {
              min-height: 116px;
            }
            @media screen and (min-width: 1260px) {
              min-height: 118px;
            }
            @media screen and (min-width: 1320px) {
              min-height: 120px;
            }
            @media screen and (min-width: 1380px) {
              min-height: 122px;
            }
            @media screen and (min-width: 1440px) {
              min-height: 124px;
            }
            @media screen and (min-width: 1500px) {
              min-height: 128px;
            }
            @media screen and (min-width: 1560px) {
              min-height: 130px;
            }
            @media screen and (min-width: 1620px) {
              min-height: 132px;
            }
            @media screen and (min-width: 1680px) {
              min-height: 134px;
            }
            @media screen and (min-width: 1740px) {
              min-height: 136px;
            }
            @media screen and (min-width: 1800px) {
              min-height: 138px;
            }
            @media screen and (min-width: 1860px) {
              min-height: 140px;
            }
            @media screen and (min-width: 1920px) {
              min-height: 142px;
            }
            @media screen and (min-width: 1980px) {
              min-height: 144px;
            }
            @media screen and (min-width: 2040px) {
              min-height: 146px;
            }
            @media screen and (min-width: 2100px) {
              min-height: 148px;
            }
            @media screen and (min-width: 2160px) {
              min-height: 149px;
            }
            @media screen and (min-width: 2220px) {
              min-height: 150px;
            }
            @media screen and (min-width: 2280px) {
              min-height: 152px;
            }
          }
          a.title{
            font-family:FuturaPT-Medium;
            font-size:24px;
            color:#202020;
            line-height:31px;
            text-align:left;
            padding-left: 60px;
            padding-right: 60px;
            margin-top: 40px;
            margin-bottom: 9px;
          }
          a.description{
            display: inline-block;
            font-family:FuturaPT-Book;
            font-size:15px;
            color:#7C7C7C;
            line-height:20px;
            text-align:left;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            min-height: 40px;
            span{
              padding-left: 60px;
              padding-right: 60px;
            }
          }
          span.price{
            text-align: left;
            padding-left: 60px;
            padding-right: 60px;
            margin-top: 10px;
          }
        }
      }
      .inner{
        margin: 0 20px 45px;
        & > a {
          display: inline-block;
          background-size: cover;
          background-position: center center;
        }
        img, canvas{
          width: 100%;
          opacity: 1;
          @include transition(opacity 0.2s ease-in-out);
          -moz-transform: translate3d(0,0,0);
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          &.hide {
            opacity: 0;
          }
        }
        a.title{
          display: inline-block;
          font-family:FuturaPT-Book;
          font-size:15px;
          color:#7C7C7C;
          line-height:20px;
          text-align:center;
          margin-top: 10px;
        }
        span.price{
          display: inline-block;
          width: 100%;
          font-family:FuturaPT-Medium;
          font-size:15px;
          color:#202020;
          line-height:20px;
          text-align:center;
          margin-top: 5px;
        }
      }
    }
  }
}
// end Items Catalog

// Footer Catalog
.footer-catalog{
  height: 45px;
  line-height: 45px;
  padding-top: 81px;
  .little-text{
    float: left;
    margin-top: 15px;
  }
  .btn{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .pagination{
    float: right;
    margin-top: -7px;
  }
}
// end Footer Catalog
