// _fonts.scss

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("./FuturaPT-Bold.otf") format('opentype'),
       url("./FuturaPT-Bold.ttf") format('truetype'),
       url("./FuturaPT-Bold.woff") format('woff'),
       url("./FuturaPT-Bold.eot"),
       url("./FuturaPT-Bold.svg");
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("./FuturaPT-Medium.otf") format('opentype'),
  url("./FuturaPT-Medium.ttf") format('truetype'),
  url("./FuturaPT-Medium.woff") format('woff'),
  url("./FuturaPT-Medium.eot"),
  url("./FuturaPT-Medium.svg");
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("./FuturaPT-Book.otf") format('opentype');
}

@font-face {
  font-family: 'FuturaPT-Light';
  src: url("./Futura PT Light.otf") format('opentype');
}
