// _header.scss

header {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
  .background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(Teya_Salat.jpg) top center no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
  }
  .vertical-center{
    position: absolute;
    display: table;
    height: 100%;
    margin: auto;
    padding: 0 89px;
    .inner{
      display: table-cell;
      vertical-align: middle;
      h1{
        margin-bottom: 48px;
        margin-top: 17px;
        letter-spacing: -2px;
      }
      .list-catalogs{
        padding: 0 60px;
        ul{
          li{
            display: inline-block;
            a{
              font-family:FuturaPT-Bold;
              font-size:30px;
              color:#B68B3E;
              line-height:46px;
              text-align:left;
              &:hover{
                border-bottom: solid 2px;
              }
            }
            span.line{
              font-family: FuturaPT-Bold;
              font-size: 30px;
              color: #B68B3E;
              line-height: 46px;
              text-align: left;
              letter-spacing: -1px;
            }
          }
        }
      }
    }
  }

  a.icon-arrow{
    position: fixed;
    background: url('icon_s.svg') 0 0 no-repeat;
    width: 52px;
    height: 52px;
    bottom: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
  }

  .header-footer{
    position: absolute;
    left: 60px;
    right: 50px;
    bottom: 44px;
    .pull-left{
      float: left;
      opacity: .3;
      font-family: FuturaPT-Book;
      font-size: 15px;
      color: #FFF;
      line-height: 25px;
      text-align: left;
    }
    .pull-right{
      float: right;
      a{
        display: inline-block;
        margin: 0 11px;
        opacity: 0.8;
        @include transition(opacity 200ms ease-out);
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        .social {
          margin-bottom: -4px;
          &.twitter {
            width: 18px;
            height: 18px;
            background: url('icon_s.svg') 0 -297px no-repeat;
          }
          &.facebook {
            width: 9px;
            height: 20px;
            background: url('icon_s.svg') 0 -71px no-repeat;
          }
          &.youtube {
            width: 22px;
            height: 18px;
            background: url('icon_s.svg') 0 -314px no-repeat;
          }
          &.google_plus {
            width: 19px;
            height: 18px;
            background: url('icon_s.svg') 0 -91px no-repeat;
          }
          &:hover{
            opacity: 1;
          }
          img{

          }
        }
      }
    }
  }
}
