section.register {

  position: relative;
  text-align: center;
  padding: 138px 60px 81px 60px;
  background-color: #fff;

  .wrap-head {
    .breadcrumbs {
      ul {
        li {
          a {
          }
          span.line {
          }
        }
      }
    }
  }

  .grid {

    form {

      text-align: center;
      margin-top: 30px;

      label {

        display: inline-block;
        width: 100%;
        padding-bottom: 11px;
        color: #717171;

      }

      input {

        height: 43px;
        border: 0;
        text-align: center;
        border-radius: 5px;
        background: #F0F0F0;
        min-width: 450px;
        font-family: FuturaPT-Book;
        font-size: 17px;
        color: #232323;
        margin-bottom: 18px;

      }

      p {

        text-align: center;

        button[type='submit'] {

          margin-top: 21px;
          width: 245px;

        }

      }

    }

  }

}
