// Catalog
section.catalog{
  position: relative;
  text-align: center;
  padding: 147px 135px 81px 135px;
  .list{
    margin-top: 15px;
  }
}
// end Catalog

// Items Catalog
.items-catalog{
  ul{
    font-size: 0;
    margin: 0 -20px;
    li{
      display: inline-block;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &.size-20{
        width: 20%;
      }
      &.size-40{
        width: 40%;
      }
      .inner{
        padding: 0 20px 20px 20px;
        img{
          width: 100%;
        }
        a.title{
          display: inline-block;
          width: 100%;
          font-family:FuturaPT-Book;
          font-size:15px;
          color:#7C7C7C;
          line-height:20px;
          text-align:center;
          margin-top: 20px;
        }
        span.price{
          display: inline-block;
          width: 100%;
          font-family:FuturaPT-Medium;
          font-size:15px;
          color:#202020;
          line-height:20px;
          text-align:center;
          margin-top: 5px;
        }
      }
    }
  }
}
// end Items Catalog

// Footer Catalog
.footer-catalog{
  height: 45px;
  line-height: 45px;
  padding-top: 81px;
  .little-text{
    float: left;
    margin-top: 15px;
  }
  .btn{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .pagination{
    float: right;
    margin-top: -7px;
  }
}
// end Footer Catalog
