@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../styles/FuturaPT-Bold.otf") format('opentype'),
       url("../styles/FuturaPT-Bold.ttf") format('truetype'),
       url("../styles/FuturaPT-Bold.woff") format('woff'),
       url("../styles/FuturaPT-Bold.eot"),
       url("../styles/FuturaPT-Bold.svg");
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../styles/FuturaPT-Medium.otf") format('opentype'),
  url("../styles/FuturaPT-Medium.ttf") format('truetype'),
  url("../styles/FuturaPT-Medium.woff") format('woff'),
  url("../styles/FuturaPT-Medium.eot"),
  url("../styles/FuturaPT-Medium.svg");
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../styles/FuturaPT-Book.otf") format('opentype');
}
